<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Department Manager</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-primary navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Employee Management system</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/departments}">Department Management</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<br>

<!-- <div class="container">
			 <div class="row">
				 <h1>List of Departments</h1>
			 </div>
				   
			 <table class="table table-stripped table-bordered table-hover">
			     <thead class="table-dark">
					 <tr>
						 <th> Department ID</th>
						 <th>Employee ID</th>
					
					 </tr>
				 </thead>
				<tbody>
					 <tr th:each = "department:${departments}">
						  <td th:text = "${department.dept_no}"></td>
						  <td th:text = "${employee.id}"></td>					   	
					 </tr>
				 </tbody>
			 </table>
		 </div>-->
		 
		 <div class = "container">
		   <div class = "row">                      
			   <div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card"><br><br>
				   <h4 class ="text-center">Need Employee Information?</h4><br><br>
				   <div class="card-body">
					   <form th:action="@{/departments}" th:object="${department}" method="POST">

						   <!--<div class="form-group">
							   <label> Department No.</label>
							   <input type="" name="dept_no" th:field = "*{dept_no}" class ="form-control" placeholder="Enter department no.">
						   </div>		
						     <div class="form-group">
							   <label>Employee ID</label>
							   <input type="number" name="id" th:field = "*{id}" class ="form-control" placeholder="Enter employee ID">
						   </div>	
						   <div class = "box-footer">
							   <button type="submit" class="btn btn-success">Submit</button>
						   </div>-->
						   <div class="form-group">
                               <label for="employeeId">Employee ID:</label>
                               <select name="employeeId" id="employeeId" class="form-control">
                               <option th:each="employee : ${employees}" th:value="${employee.id}" th:text="${employee.id}"></option>
                               </select>
                           </div>
                           <div class="form-group">
							    <label for="departmentId">Department ID:</label>
							    <select name="departmentId" id="departmentId" class="form-control">
							        <option th:each="department : ${departments}" th:value="${department.dept_no}" th:text="${department.dept_no}"></option>
							    </select>
                           </div>
                           <div class = "box-footer">
							   <button type="submit" class="btn btn-success">Submit</button>
						   </div>

						    		
					   </form>
				   </div>
			   </div>
		   </div>
		 </div>


</body>
</html>