<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee management System</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	
		<nav class="navbar navbar-expand-md bg-primary navbar-dark">
		     <!-- Brand -->
		     <a class="navbar-brand" href="#">Employee Management system</a>
		
			  <!-- Toggler/collapsibe Button -->
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			    <span class="navbar-toggler-icon"></span>
			  </button>
		
			  <!-- Navbar links -->
			  <div class="collapse navbar-collapse" id="collapsibleNavbar">
			    <ul class="navbar-nav">
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/employees}">Employee Management</a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" th:href="@{/departments}">Department Management</a>
			      </li>
			     
			    </ul>
			  </div>
		</nav>

         <div class="container">
			 <div class="row">
				 <h1>List of Employees</h1>
			 </div>
			 <div class = "row">
				    <div class="col-lg-3">
						<a th:href ="@{/departments/new}" class = "btn btn-primary btn-sm mb-3">Add Department</a>
					</div>
				    <div class="col-lg-3">
						<a th:href ="@{/employees/new}" class = "btn btn-primary btn-sm mb-3">Add Employee</a>
					</div>
			 </div>
			 <table class="table table-stripped table-bordered table-hover">
			     <thead class="table-dark">
					 <tr>
						 <th> Employee ID</th>
						 <th>Title</th>
						 <th>First Name</th>
						 <th>Last Name</th>
						 <th>Email</th>
						 <th>Department Name</th>
						 <th>Actions</th>
					 </tr>
				 </thead>
				<tbody>
					 <tr th:each = "employee:${employees}"> 
						
						 <td th:text = "${employee.id}"></td>
						 <td th:text = "${employee.title}"></td>
						 <td th:text = "${employee.fname}"></td>
						 <td th:text = "${employee.lname}"></td>
						 <td th:text = "${employee.email}"></td>
						 <td th:text = "${employee.emp_dept_name}"></td>	 
						 <td>
							   <a th:href = "@{/employees/edit/{id}(id=${employee.id})}"
							   class = "btn btn-primary">Update</a>
							   
							   <!--<a th:href = "@{/employees/{id}(id=${employee.id})}"
							   class = "btn btn-danger">Delete</a>-->
							   
                                <a th:href="@{/employees/{id}/delete(id=${employee.id})}" 
                                class="btn btn-danger" 
                                onclick="return confirm('Are you sure you want to delete this employee?')">Delete</a>

						  </td>
					 </tr>
				 </tbody>
			 </table>
		 </div>
</body>
</html>